body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.header {
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  min-height: 69px;
  max-height: 69px;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

.pageNav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
}

.pageLinks a{
  margin: 10px;
  color: white;
}

.missionFlex {
  background-image: url("../images/mission-background.jpg");
  display: flex;
  width: 1200px;
  height: 700px;
  padding-top: 70px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: auto;
}
h2, h3, h4 {
  margin: 0px;
  padding: 10px;
}

.mission {
  background-color: black;
  width: 1200px;
  height: 103px;
  margin-top: 298.5px;
  margin-bottom: 298.5px;
}
