body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.header {
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  min-height: 69px;
  max-height: 69px;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

.pageNav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
}

.pageLinks a{
  margin: 10px;
  color: white;
}

.missionColumn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  height: 770px;
  width: 1200px;
}

.mission {
  z-index: 2;
  display: inline-flex;
  justify-content: center;
flex-direction: column;
  align-items: center;
  background-color: black;
  width: 1200px;

}

.imgContain {
  position: relative;
}

.centered {
  height: 770px;
  width: 1200px;
  position: absolute;
  left: 50%;
  margin-left: -600px;
}
